<!--<h1>Login page</h1>-->
<!--<div th:if="${param.error}">-->
<!--    Invalid password-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out-->
<!--</div>-->
<!--<form th:action="@{/login}" method="post">-->
<!--    <div>-->
<!--        <input type="text" name="username" placeholder="Username" />-->
<!--    </div>-->
<!--    <div>-->
<!--        <input type="password" name="password" placeholder="password" />-->
<!--    </div>-->
<!--    <input type="submit" value="Log in" />-->
<!--</form>-->
<!--<a href="/registration">Registration</a>-->
<!--<a href="/">Home</a>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
    <title>Sing in to AutoMess</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="row">

        <div class="col-lg-4 col-lg-offset-4">

            <h1 class="text-center">Sing in to AutoMess</h1>
            <div th:if="${param.error}">
                Invalid password
            </div>
            <div th:if="${param.logout}">
                You have been logged out
            </div>

            <form role="form" th:action="@{/login}" method="post">

                <div class="form-group">
                    <label for="username">Email:</label>
                    <input id="username" type="text" name="username" class="form-control" placeholder="Enter your Email" required="required">
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" type="password" name="password" class="form-control" placeholder="Enter your password" required="required">
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

            </form>

        </div><!-- /.col-lg-4 col-lg-offset-4 -->

    </div> <!-- /.row-->

</div> <!-- /.container-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>