table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

#pagination {
    margin-top: 10px;
}

#pagination button {
    margin: 0 5px;
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}