<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <link href="../static/css/styles.css">


</head>
<td th:each="user : ${user}">
    <div th:insert="~{forms/header :: header}"></div>
</td>

<body>
<div class="container">

    <h1>Car List</h1>
    <table id="example" class="table table-striped table-bordered">
        <tr>
            <th>Car Model</th>
            <th>License Plate</th>
            <th>First Name</th>
            <th>Phone Number</th>
            <th>Make</th>
        </tr>
        <tbody id="carTableBody">
        <tr th:each="userCar : ${userCar}" th:data-user-id="${userCar.id}" onclick="redirectToProfile(this)">
            <td th:text="${userCar.carModel}"></td>
            <td th:text="${userCar.licensePlate}"></td>
            <td th:text="${userCar.getUserId.firstName}"></td>
            <td th:text="${userCar.getUserId.phoneNumber}"></td>
            <td th:text="${userCar.brandId.brand_name}"></td>
<!--            <td> &lt;!&ndash; Добавлена ячейка для ссылки на профиль &ndash;&gt;-->
<!--                <a th:href="@{'/' + ${userCar.id}}">Profile</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>

    <div class="Tags" id="tags" th:replace="~{forms/tags}"></div>

    </div>
    <script>
        function redirectToProfile(row) {
            var personId = row.getAttribute("data-user-id");
            window.location.href = "/" + personId;
        }
    </script>


<!--    <button id="showMoreButton" class="btn btn-primary" data-page="0">Показать еще</button>-->

    <!-- Скрипты -->


</div>
</body>
<div th:insert="~{forms/footer :: footer}"></div>
</html>