<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<div th:insert="~{forms/header :: header}"></div>
<body>
<div class="container">

<!--    &lt;!&ndash; Добавленная строка поиска &ndash;&gt;-->
<!--    <form action="/cars/search" method="get" class="form-inline mb-3">-->
<!--        <input type="text" name="licensePlate" class="form-control mr-2" placeholder="Search by License Plate">-->
<!--        <button type="submit" class="btn btn-primary">Search</button>-->
<!--    </form>-->

    <h1>Car List</h1>
    <table id="example" class="table table-striped table-bordered">
        <tr>
            <th>Car Model</th>
            <th>License Plate</th>
            <th>First Name</th>
            <th>Phone Number</th>
            <th>Make</th>
        </tr>
        <tbody id="carTableBody">
        <!-- Здесь будут отображаться записи -->
        <!-- Используйте Thymeleaf для заполнения данных -->
        <tr th:each="personCar : ${personCars}">
            <td th:text="${personCar.carModel}"></td>
            <td th:text="${personCar.licensePlate}"></td>
            <td th:text="${personCar.personId.firstName}"></td>
            <td th:text="${personCar.personId.phone_number}"></td>
            <td th:text="${personCar.makeId.mark}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Кнопка "Показать еще" -->
    <button id="showMoreButton" class="btn btn-primary" data-page="0">Показать еще</button>

    <!-- Скрипты -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

</div>
</body>
</html>